{% macro author(key, author) %}
<div class="author" id="{{key}}">
  {% if author.img %}
    <img class="avatar" src="{{author.img}}" />
  {% elif author.github %}
    <img class="avatar" src="https://www.github.com/{{author.github}}.png" />
  {% else %}
    <img class="avatar" src="{{get_url(path='/asset/bashy-big.svg')}}" />
  {% endif %}
  {% if author.curator %}
  <a href="/curators/#{{key}}">
    {% endif %}
    <span class="name">{{author.name}}</span>
    {% if author.curator %}
  </a>
  {% endif %}
  <p class="social-media">
    {% if author.homepage %}
    <a href="{{author.homepage}}" target="_blank"><i class="fa fa-home"></i></a>
    {% endif %}

    {% if author.github %}
    <a href="https://www.github.com/{{author.github}}" target="_blank"><i class="fa fa-github"></i></a>
    {% endif %}

    {% if author.twitter %}
    <a href="https://www.twitter.com/{{author.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
    {% endif %}
  </p>

  {% if author.bio %}
  <p class="bio">
    {{author.bio | markdown(inline=true) | safe }}
  </p>
  {% endif %}

</div>
{% endmacro author %}