{% macro comment(comment) %}
{% set author = site.data.authors[author] %}
<blockquote {% if comment.source_link %} cite="{{comment.source_link}}" {% endif %} class="review {{comment.type}}">
  {{comment.text | markdownify}}
  <cite>
    <p>
      <img src="{{author.img or '/asset/bashy-big.svg'}}">
      <a {% if comment.source_link %}
          href="{{comment.source_link}}"
        {% elif author.curator %}
          href="/curators/#{{comment.author}}"
        {% else %}
          href="{{author.homepage}}"
        {% endif %}>
        <span class="name">{{author.name}}</span></a>
      ,
      <span class="date">{{comment.date | date_to_string }}</span>
      <span class="version">on version {{comment.version}}</span>
    </p>
  </cite>
</blockquote>
{% endmacro comment %}
