{% macro level(level) %}
<span class="level-indicator level-{{level}}" {% if level == 0 %} title="everything is awesome: stable, tested and mature" {% elif level == 1 %} title="pretty great already" {% elif level == 2 %} title="getting there, stable but still maturing" {% elif level == 3 %} title="not yet stable, but progressing" {% elif level == 4 %} title="unstable/incomplete, needs work" {% elif level == 5 %} title="barely there, needs serious work" {% else %} title="basically non-existent" {% endif %}>
{% if level == 0 %} <i class="fa fa-check-circle"></i>
{% elif level == 1 %} <i class="fa fa-check-circle-o"></i>
{% elif level == 2 %} <i class="fa fa-chevron-circle-up"></i>
{% elif level == 3 %} <i class="fa fa-dot-circle-o"></i>
{% elif level == 4 %} <i class="fa fa-dot-circle-o"></i>
{% elif level == 5 %} <i class="fa fa-dot-circle-o"></i>
{% else %} <i class="fa fa-times-circle"></i> {% endif %} </span>
{% endmacro level %}