{% macro package(pkg_name) %}
{% set pkg = load_data(url="https://crates.io/api/v1/crates/" ~ pkg_name, format="json") %}
{% if pkg %}
  {% set pkg = pkg.crate %}
<li id="pkg-{{pkg.id | default(value=pkg.name)}}" class="pkg">
  <span class="pkg-name"
    title="est. {{pkg.created_at | date }}, last updated: {{pkg.updated_at | date }}">{{pkg.name}}</span>
  {% if pkg.id %}
  <a class="pkg-link" title="crates.io link" href="https://crates.io/crates/{{pkg.id}}"><i class="fa fa-cube"></i></a>
  {% endif %}

  {% if pkg.homepage %}
  <a class="pkg-link" title="homepage" href="{{pkg.homepage}}"><i class="fa fa-home"></i></a>
  {% endif %}


  {% if pkg.documentation %}
  <a class="pkg-link" title="documentation" href="{{pkg.documentation}}"><i class="fa fa-book"></i></a>
  {% endif %}

  {% if pkg.repository %}
  <a class="pkg-link" title="repository" href="{{pkg.repository}}"><i class="fa fa-code"></i></a>
  {% endif %}

  <a class="pkg-link action" title="permalink" href="#pkg-{{pkg.id | default(value=pkg.name)}}"><i
      class="fa fa-hashtag"></i></a>

  {% if pkg.id %}
  <p class="pkg-meta">
    <img src="https://img.shields.io/crates/v/{{pkg.id}}.svg" />
    <img src="https://img.shields.io/crates/d/{{pkg.id}}.svg" />
    <img src="https://img.shields.io/crates/l/{{pkg.id}}.svg" />
    {% if pkg.repository and pkg.repository is starting_with("https://github.com/") %}
      {% set repo = pkg.repository 
        | trim_start_matches(pat="https://github.com/") 
        | trim_end_matches(pat="/") 
        | trim_end_matches(pat=".git")
      %}
      <img src="https://img.shields.io/github/last-commit/{{repo}}.svg">
    {% endif %}
    </p>
  {% endif %}
  <p class="pkg-desc">
    {{ pkg.description }}
  </p>
</li>
{% else %}
<h1>PACKAGE MISSING: {{pkg_name}}</h1>
{% endif %}
{% endmacro package %}
