@import "_breakpoints";

.authors {
  font-size: 0.75em;
  margin-top: 5em;
  &:before {
    display: inline-block;
    width: 50%;
    border-top: 2px solid #eee;
    content: " ";
    margin-left: 25%;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}

.avatar {
  height: 10em;
  margin: 0.5em;
  border-radius: 50%;
  border: 2px #eee solid;
  float: left;
}

.author {
  margin: 2em 0;
}

.author:not(:last-child):after {
  content: " ";
  border-bottom: 2px #eee solid;
  width: 50%;
}

.author:nth-child(2n) .avatar {
  float: right;
}

.social-media {
  margin: 0 0 1em 0;
}

.social-media a {
  margin: .45rem 2rem 0 0;
  display: inline-block;

  @include for-tablet-portrait-up {
    margin: .25rem 1rem 0 0;
  }
}

.social-media a:first-of-type {
  margin-left: 0;
}
