@import "_breakpoints";
@import "_font-mixins";

.legend {
  @include interpolate(font-size, 320px, 1366px, 14px, 20px);
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.legend li {
  display: inline;
  margin-right: 0.75em;
}

.topic-list {
  list-style: none;
  padding: 0;
  display: inline;
}

.topic-list li {
  display: inline-block;
  padding: 5px;
}

.tagline {
  margin: 0 0 0.5em;
  color: #000;
  font-size: 3rem;
  @include for-tablet-portrait-up {
    font-size: 3.5rem;
  }
  @include for-tablet-landscape-up {
    font-size: 5rem;
  }
}
