{% extends "base.html" %}
{% import "macros/author.html" as author %}

{% block content %}

<h1>{{page.title}}</h1>

<p><a href="/">Are We Web Yet</a> (AWWY) is curated by:</p>

{% set authors = load_data(path="data/authors.toml") %}
{% for key, value in authors %}
  {% if value.curator %}
    {{ author::author(key=key,author=authors[key]) }}
  {% endif %}
{% endfor %}


<div class="alert-box">
  <h3>You want to become a curator?</h3>
  <p>You want to help us curate this website? Well, that is just awesome. <a
      href="https://github.com/bashyHQ/arewewebyet/blob/gh-pages/CONTRIBUTING.md#becoming-a-curator"
      target="_blank">Please follow this guide to join</a>!
  </p>
</div>
{% endblock %}