{% extends "base.html" %}
{% import "macros/level.html" as level %}

{% block content %}

<div class="github-fork-ribbon-wrapper left">
  <div class="github-fork-ribbon">
    <a href="https://github.com/rust-lang/arewewebyet">Contribute on GitHub</a>
  </div>
</div>

<div id="main">
  <h1>Are we <em>web</em> yet?</h1>

  <p><strong>Yes! And it's freaking fast!</strong></p>

  <h2>Can I replace my Rails/Django/Flask already?</h2>

  <p>
    <strong>Yup!</strong>
    Rust has mature and production ready frameworks in <a href="/topics/frameworks/#pkg-actix-web">Actix Web</a> and
    <a href="/topics/frameworks/#pkg-rocket">Rocket</a>, and newer ones like <a href="/topics/frameworks/#pkg-warp">Warp</a>
    and <a href="/topics/frameworks/#pkg-tide">Tide</a>. These provide everything you’d expect from a web framework, from routing
    and middleware, to templating, and JSON/form handling. There are crates for everything, and more! For databases, there’s:</p>

  <ul>
    <li>
      <a href="/topics/database/#pkg-diesel">Diesel</a>, a full-fledged ORM.
    </li>
    <li>
      <a href="/topics/database/#pkg-sqlx">sqlx</a>, the async sql toolkit.
    </li>
    <li>
      As well as native drivers for <a href="/topics/database/#pkg-mongodb">MongoDB</a>, <a
        href="/topics/database/#pkg-rusqlite">SQlite</a>, <a href="/topics/database/#pkg-postgres">Postgres</a>, and <a
        href="/topics/database/#pkg-mysql">MySQL</a>.
    </li>
  </ul>

  {% set services = get_page(path="topics/services.md") %}
  There are many integrations to third-party services {{ level::level(level=services.extra.level) }}, such as:

  <ul>
    <li>
      <a href="/topics/services/#pkg-rusoto">Rusoto</a> (AWS)
    </li>
    <li>
      <a href="/topics/services/#pkg-azure_sdk_for_rust">Azure</a>
    </li>
    <li>
      <a href="/topics/services/#pkg-redis">Redis</a>
    </li>
    <li>
      <a href="/topics/services/#pkg-elasticsearch">Elasticsearch</a>
    </li>
  </ul>

  {% set logging = get_page(path="topics/logging.md") %}
  {% set auth = get_page(path="topics/auth.md") %}
  {% set templating = get_page(path="topics/templating.md") %}
  {% set email = get_page(path="topics/email.md") %}

  <p>And of course, there is plenty of support for basic web needs, like <a href="/topics/logging/">logging</a>
    {{ level::level(level=logging.extra.level) }}, <a href="/topics/auth/">authorization</a> {{ level::level(level=auth.extra.level) }}, <a
      href="/topics/templating/">templating</a> {{ level::level(level=templating.extra.level) }}, and <a href="/topics/email/">email</a>
    {{ level::level(level=email.extra.level) }}.</p>

  While development might not be as smooth as something like Rails or Django, the Rust web development ecosystem and
  community is engaged and very helpful. A lot of work has been put into the web in the past few years, and we're getting
  there!

  {% set webassembly = get_page(path="topics/webassembly.md") %}

  <h2>WebAssembly???</h2>

  <p>Rust can even run on the browser, by compiling to <a href="/topics/webassembly/">WebAssembly</a>
    {{ level::level(level=webassembly.extra.level) }}. This means that you can take advantage of the amazing Rust ecosystem on the browser! Rust and
    WebAssembly integrate with existing Javascript tooling. It supports NPM, Webpack, and ECMAScript modules! There are
    some <a href="/topics/webassembly/">awesome Rust and WebAssembly</a> projects out there. For example, <a
      href="https://github.com/yewstack/yew">Yew</a> and <a href="https://github.com/seed-rs/seed">Seed</a> let you create
    front-end web apps with Rust in a way that feels almost like React.js.</p>

  <p>For more information about Rust and WebAssembly, check out the <a
      href="https://rustwasm.github.io/docs/book/introduction.html">Rust and WebAssembly Book</a>.</p>

  <h2>Getting started</h2>

  <p>After you’ve set up your Rust and worked yourself <a href="https://doc.rust-lang.org/book/">through “The Book”</a>,
    you might want to check any of these resources:</p>

  <ul>
    <li><a href="https://blog.logrocket.com/rust-web-apps-using-rocket-framework/">Building web apps with Rust using the
        Rocket framework</a></li>
    <li><a
        href="https://www.youtube.com/watch?v=yNe9Xr35n4Q&amp;list=PL8lUUBadSMNBNKMYJpUE830tBiN6bxVRw&amp;ab_channel=DavidPedersen">Educational
        Rust Live Coding - Web App From Scratch</a></li>
    <li><a href="https://gill.net.in/posts/auth-microservice-rust-actix-web1.0-diesel-complete-tutorial/">Actix-Web Auth
        Microservice</a></li>
    <li><a href="https://www.lpalmieri.com/posts/2020-05-24-zero-to-production-0-foreword/">Zero To Production In Rust
        (Series)</a></li>
    <li><a href="https://dev.to/werner/practical-rust-web-development-api-rest-29g1">Practical Rust Web Development
        (Series)</a></li>
    <li><a href="https://auth0.com/blog/build-an-api-in-rust-with-jwt-authentication-using-actix-web/">Build an API in
        Rust with JWT Authentication</a></li>
    <li><a href="https://rocket.rs/v0.4/guide/quickstart/">Rocket Quickstart</a></li>
  </ul>

  <p>There are also some real world examples that can be looked at for reference:</p>

  <ul>
    <li><a href="https://github.com/Plume-org/Plume">Plume, a Federated blogging app (Rocket)</a></li>
    <li><a href="https://github.com/jetli/rust-yew-realworld-example-app">Yew realworld app (WebAssembly)</a></li>
    <li><a href="https://github.com/seed-rs/seed-rs-realworld">Seed realworld app (WebAssembly)</a></li>
    <li><a href="https://github.com/LemmyNet/lemmy">Lemmy, a federated alternative to Reddit (actix-web)</a></li>
    <li><a href="https://github.com/TatriX/realworld-rust-rocket">Rust + Rocket RealWorld example</a></li>
  </ul>

  <p>If you find yourself stuck and looking for help, you can check out the <a
      href="https://users.rust-lang.org/c/help">official Rust forum</a>, the <a
      href="https://stackoverflow.com/questions/tagged/rust">rust tag on stackoverflow</a>, or the <a
      href="https://discord.com/invite/rust-lang">Rust Discord server</a> where you are welcome to post your questions and
    will find excellent help.</p>

  <h2>In detail</h2>

  <p>Learn more about the state of web development in Rust by topic:</p>

  <ul class="topic-list">
    {% set section = get_section(path="topics/_index.md") %}
    {% for page in section.pages %}
    <li><a href="{{ page.permalink }}">{{page.title}}</a> {{ level::level(level=page.extra.level) }}</li>
    {% endfor %}
  </ul>

  <ul class="legend">
    <li>{{ level::level(level=0) }}: everything is awesome<a href="https://www.youtube.com/watch?v=9cQgQIMlwWw"
        target="_blank">™</a>: stable, tested and mature</li>
    <li>{{ level::level(level=1) }}: stuff's pretty great</li>
    <li>{{ level::level(level=2) }}: getting there, stable but still maturing</li>
    <li>{{ level::level(level=3) }}: not yet stable, but progressing</li>
    <li>{{ level::level(level=4) }}: unstable/incomplete, needs work</li>
    <li>{{ level::level(level=5) }}: barely there, needs serious work</li>
    <li>{{ level::level(level=6) }}: basically nonexistent</li>
  </ul>
</div>

{% endblock content %}
