{% extends "base.html" %}
{% import "macros/news_item.html" as news %}
{% import "macros/level.html" as level %}
{% import "macros/packages.html" as packages %}

{% block content %}

<h1>{{page.title}} {{ level::level(level=page.extra.level) }}</h1>

{% if page.extra.intro %}
{{ page.extra.intro | markdown | safe }}
{% endif %}

{{ page.content | safe }}

{% if page.extra.packages %}
{{ packages::packages(packages=page.extra.packages) }}
{% endif %}

{% if page.extra.upcoming %}
<h4 class="upcoming">Upcoming</h4>
We are waiting for the following to reach maturity to be released on crates.io:
<ul class="upcoming">
  {% for upcoming in page.extra.upcoming %}
  <li> <a href="{{upcoming.url}}">{{upcoming.name}}</a> {{upcoming.desc | markdown | safe }} </li>
  {% endfor %}
</ul>
{% endif %}

{% if page.extra.missing %}
<h3>Still missing...</h3>
<ul>
  {% for missed in page.extra.missing %}
  <li> {{missed | markdown | safe }} </li>
  {% endfor %}
  <li>
    and probably some others...
  </li>
</ul>
{% endif %}

{% if page.extra.news_tag %}

{% set section = get_section(path="news/_index.md") %}
{% set related_posts = [] %}

{% for post in section.pages %}
  {% if post.extra.tags %}
  {% for tag in post.extra.tags %}
    {% if tag == page.extra.news_tag %}
      {% set_global related_posts = related_posts | concat(with=post) %}
    {% endif %}
  {% endfor %}
  {% endif %}
{% endfor %}

{% if related_posts.0 %}
  <h3>Related News</h3>
  <ul class="related-news">
    {% for post in related_posts %}
      {{ news::news_item(post=post) }}
    {% endfor %}
  </ul>
{% endif %}

{% endif %}

<div class="alert-box">
  <h3>Do you know something we don't?</h3>
  <p>Did we miss an important crate? Or maybe you just recently launched something that should be listed here, too? <a
      href="https://github.com/bashyHQ/arewewebyet/issues/new" target="_blank">Let us know</a>!
  </p>
</div>

{% endblock content %}